@import "tailwindcss";

@theme {
  --color-primary: #211f16;
  --color-secondary: #fbfbeb;
  --color-accent: #d99e27;
  --color-highlight: #c6af7f;
  --color-darkAccent: #866a32;
  --color-lightAccent: #ede6ba;
  --color-slateBlue: #a3b3bd;
  --color-blueGray: #cad6df;
  --color-beige: #bcb4ac;
  --color-tealGray: #7494a4;
}
