---
const { title = "Turismo Iguazú", description = "" } = Astro.props;
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import WhatsAppButton from "../components/WhastAppFlotante.astro";
import "../styles/global.css"
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="font-sans bg-slate-50 text-slate-900 selection:bg-brand-200/60">
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
    <WhatsAppButton />
  </body>
</html>
